<div class="background">
	<div class="banner"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 container">
				<p-dataList [value]="options" class="container-content">
					<template let-option pTemplate="item">
						<div class="ui-grid-row option-item" (click)="goTo(option.state)">
							<div class="ui-grid-col-2">
								<i [className]="option.class"></i>
							</div>
							<div class="ui-grid-col-10">{{option.name}}</div>
						</div>
					</template>
				</p-dataList>
			</div>
			<div class="ui-grid-col-10 container" >
				<div class="container-background"></div>
				<div class="container-content" *ngFor="let u of getUser()">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<img class="avatar" src="{{u.avatar}}">
							<div class="user-info">
								<div class="user-info-background"></div>
								<div class="user-info-content">
									<div class="ui-grid-row profile-item">
										<div>
											<p class="label">Username</p>
											<p class="info">{{u.name}}</p>
										</div>
									</div>
									<div class="ui-grid-row profile-item">
										<div>
											<p class="label">About</p>
											<p class="info">{{u.desc}}</p>
										</div>
									</div>
									<div class="ui-grid-row profile-item">
										<div>
											<p class="label">Messages Sent:</p>
											<p class="info">{{u.stats.messagesSent}} messages</p>
										</div>								
									</div>
									<div class="ui-grid-row profile-item">
										<div>
											<p class="label">Stories Written:</p>
											<p class="info">{{u.stats.storiesCount}} stories</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="ui-grid-col-10">
							<div class="stories-info">
								<div class="stories-info-background"></div>
								<div class="stories-info-content">
									<p-dataList [value]="stories.get()" [paginator]="true" [rows]="5">
										<p-header>
											Stories
										</p-header>
										<template let-story pTemplate="item">
											<div class="ui-grid ui-grid-responsive ui-fluid option-item" (click)=goToStory(story.id)>
												<div class="ui-grid-row">				
													<div class="ui-grid-col-10">
														<div class="ui-grid ui-grid-responsive ui-fluid">
														<div class="ui-grid-row story-info-name">
																{{story.name}}
															</div>
															<div class="ui-grid-row story-info-desc">
																{{story.desc}}
															</div>
														</div>
													</div>
													<div class="ui-grid-col-2">
														<div class="ui-grid ui-grid-responsive ui-fluid">
															<div class="ui-grid-row story-info-other">
																No Type
															</div>
															<div class="ui-grid-row story-info-other">
																{{story.messageCount}} messages
															</div>
														</div>
													</div>
												</div>
											</div>
										</template>
									</p-dataList>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>