<div class="wallpaper">
	<div class="banner"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 menu">
				<p-dataList [value]="options">
					<template let-option pTemplate="item">
						<div class="container menu-item">
							<div class="background menu-item-background"></div>
							<div class="ui-grid-row content" (click)="goTo(option.state)">
								<div class="ui-grid-col-2 icon">
									<i [className]="option.class"></i>
								</div>
								<div class="ui-grid-col-10 text">{{option.name}}</div>
							</div>
						</div>
					</template>
				</p-dataList>
			</div>
			<div class="ui-grid-col-10 container main" >
				<div class="background main-background"></div>
				<div class="content">
					<div class="ui-grid-row">
						<div class="ui-grid-col-2">
							<img class="avatar" src="{{user.get().avatar }}">
							<div class="user-info">
								<div class="ui-grid-row container profile-item">
									<div class="background profile-item-background"></div>
									<div class="content">
										<p class="label">Username</p>
										<p class="info">{{user.get().name}}</p>
									</div>
								</div>
								<div class="ui-grid-row container profile-item">
									<div class="background profile-item-background"></div>
									<div class="content">
										<p class="label">About</p>
										<p class="info">{{user.get().desc}}</p>
									</div>
								</div>
								<div class="ui-grid-row container profile-item">
									<div class="background profile-item-background"></div>
									<div class="content">
										<p class="label">Messages Sent:</p>
										<p class="info">{{user.get().stats.messages}} messages</p>
									</div>								
								</div>
								<div class="ui-grid-row container profile-item">
									<div class="background profile-item-background"></div>
									<div class="content">
										<p class="label">Stories Written:</p>
										<p class="info">{{user.get().stats.stories}} stories</p>
									</div>
								</div>
							</div>
						</div>
						<div class="ui-grid-col-10">
							<div class="container stories-info">
								<div class="background stories-info-background"></div>
								<div class="content">
									<p-dataList [value]="stories.get()" [paginator]="true" [rows]="5">
										<p-header>
											<div class="header">Stories</div>
										</p-header>
										<template let-story pTemplate="item">
											<div class="ui-grid ui-grid-responsive ui-fluid container story-item" (click)=goToStory(story.id)>
												<div class="background story-item-background"></div>
												<div class="ui-grid-row content">				
													<div class="ui-grid-col-10">
														<div class="ui-grid ui-grid-responsive ui-fluid">
															<div class="ui-grid-row story-info-name">
																{{story.name}}
															</div>
															<div class="ui-grid-row story-info-desc">
																{{story.desc}}
															</div>
														</div>
													</div>
													<div class="ui-grid-col-2">
														<div class="ui-grid ui-grid-responsive ui-fluid">
															<div class="ui-grid-row story-info-other">
																{{story.type}}
															</div>
															<div class="ui-grid-row story-info-other">
																{{story.messageCount}} messages
															</div>
														</div>
													</div>
													</div>
											</div>
										</template>
									</p-dataList>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>