<p-dataList [value]="stories.get()">
	<template let-story pTemplate="item">
		<div class="ui-grid ui-grid-responsive ui-fluid">
			<div class="ui-grid-row">
				<div class="ui-grid-col-3"></div>
				<div class="ui-grid-col-6">
					<div class="ui-grid ui-grid-responsive ui-fluid">
						<div class="ui-grid-row">
							<div class="ui-grid-col-2">Name: </div>
							<div class="ui-grid-col-10">{{story.name}}</div>
						</div>
						<div class="ui-grid-row">
							<div class="ui-grid-col-2">Messages: </div>
							<div class="ui-grid-col-10">{{stories.messageCount(story)}}</div>
						</div>
					</div>
				</div>
				<div class="ui-grid-col-3">
					<button pButton type="button" (click)="delete(story.id)" label="Delete"></button>
				</div>
			</div>
		</div>
	</template>
</p-dataList>
<button pButton type="button" (click)="showDialog()" label="Create New Story"></button>
<button pButton type="button" routerLink="/stories" label="Go to stories"></button>

<p-dialog header="Story Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="225" (onAfterHide)="onDialogHide()">
	<form #createStoryForm="ngForm" (ngSubmit)="saveStory(createStoryForm)" novalidate>
		<input type="text" name="name" ngModel reqired pInputText/>
		<input type="text" name="desc" ngModel required pPassword/>
		<button pButton label="Save"></button>
	</form>
</p-dialog>

