<div class="wallpaper">
	<div class="banner"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 menu">
				<p-dataList [value]="options">
					<template let-option pTemplate="item">
						<div class="container menu-item">
							<div class="background menu-item-background"></div>
							<div class="ui-grid-row content" (click)="goTo(option.state)">
								<div class="ui-grid-col-2 icon">
									<i [className]="option.class"></i>
								</div>
								<div class="ui-grid-col-10 text">{{option.name}}</div>
							</div>
						</div>
					</template>
				</p-dataList>
			</div>
			<div class="ui-grid-col-10 container main" >
				<div class="background main-background"></div>
				<div class="content title">
					<div class="background title-background"></div>
					<div class="content title-content">
						<div class="ui-grid ui-grid-responsive ui-fluid">
							<div class="ui-grid-row story-name">
								{{story.name}}
							</div>
							<div class="ui-grid-row story-desc">
								{{story.desc}}
							</div>
							<div class="ui-grid-row story-rules">
								{{showRules()}}
							</div>
						</div>
					</div>
				</div>
				<div class="content messages">
					<p-dataList [value]="messages.getMasked()">
						<template let-message pTemplate="item">
							<div class="ui-grid ui-grid-responsive ui-fluid message">
								<div *ngIf="message.uid != null" class="ui-grid-row">
									<div class="ui-grid-col-1 avatar">
										<img src="{{message.avatar | async}}">
									</div>
									<div class="ui-grid-col-11 container message-inner">
										<div class="background message-inner-background"></div>
										<div class="content message-inner-text">
											{{message.text}}
										</div>
									</div>
								</div>
								<div *ngIf="message.uid == null" class="ui-grid-row warning-hidden">
									{{message.text}}
								</div>
							</div>
						</template>
					</p-dataList>
				</div>
				<div class="content">
					<form #sendMessageForm="ngForm" (ngSubmit)="send(sendMessageForm)" novalidate>
						<div class="ui-grid-row">
							<div class="ui-grid-col-10">
								<textarea name="text" required pInputTextarea [(ngModel)]="text"></textarea>
							</div>
							<div class="ui-grid-col-2">
								<button pButton class="send-buttonn" label="Send"></button>
							</div>
						</div>	
					</form>
				</div>
			</div>
		</div>
	</div>
</div>