<div class="background">
	<div class="banner"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 container">
				<p-dataList [value]="options" class="container-content">
					<template let-option pTemplate="item">
						<div class="ui-grid-row option-item" (click)="goTo(option.state)">
							<div class="ui-grid-col-2">
								<i [className]="option.class"></i>
							</div>
							<div class="ui-grid-col-10">{{option.name}}</div>
						</div>
					</template>
				</p-dataList>
			</div>
			<div class="ui-grid-col-10 container" >
				<div class="container-background"></div>
				<div class="container-content">
					<p-dataList [value]="messages.getMasked()">
						<template let-message pTemplate="item">
							<div class="ui-grid ui-grid-responsive ui-fluid message">
								<div class="message-background"></div>
								<div class="ui-grid-row message-content">
									<div class="ui-grid-col-2">
										<img class="avatar" src="{{message.avatar | async}}">
									</div>
									<div class="ui-grid-col-8 message-text">{{message.text}}</div>
									<div class="ui-grid-col-2 message-author"> by {{message.author | async}}</div>
								</div>
							</div>
						</template>
					</p-dataList>
					<form #sendMessageForm="ngForm" (ngSubmit)="send(sendMessageForm)" novalidate>
						<textarea name="text" required pInputTextarea [(ngModel)]="text"></textarea>
						<button pButton label="Send"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>