<div class="wallpaper">
	<div class="banner o-30 bc-primary"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 menu">
				<p-dataList [value]="options">
					<template let-option pTemplate="item">
						<div class="container menu-item">
							<div class="background bc-menu o-75"></div>
							<div class="ui-grid-row content" (click)="goTo(option.state)">
								<div class="ui-grid-col-2 option-icon">
									<i [className]="option.class"></i>
								</div>
								<div class="ui-grid-col-10 option-name">{{option.name}}</div>
							</div>
						</div>
					</template>
				</p-dataList>
			</div>

			<div class="ui-grid-col-10 container main" >
				<div class="background bc-primary o-30"></div>
				<div class="content main-content">
					<div class="ui-grid ui-grid-responsive ui-fluid">
						<div class="ui-grid-col-1 i-category c-firebrick">
							<i class="fa fa-star-o"></i>
						</div>
						<div class="ui-grid-col-11">
							<p-dataGrid [value]="stories.get()" *ngIf="user.stared">
								<template let-story pTemplate="item">
									<div class="ui-g-12 ui-md-4 container stared" *ngIf="story.stared">
										<div class="background stared-background bc-white o-75"></div>
										<div class="ui-grid-col content stared-content">
											<div class="ui-grid-row">
												<div class="ui-grid-col-9 name" [ngClass]="isPublic(story.public)" (click)=goToStory(story.id)>
													{{story.name}}
												</div>
												<div class="ui-grid-col-3 center-content c-darkorange fs-26">
													<i class="fa fa-star" (click)=unstar(story.id)></i>
												</div>
											</div>
											<div class="ui-grid-row" [ngClass]="isPublic(story.public)">
												<div class="ui-grid-col-3 center-content">
													<i class="fa fa-user"></i>
													{{story.usersCount}}
												</div>
												<div class="ui-grid-col-3 center-content">
													<i class="fa fa-comment"></i>
													{{story.messagesCount}}
												</div>
												<div class="ui-grid-col-3 center-content">
													<i [ngClass]="typeIconClass(story.type)"></i>
												</div>
												<div class="ui-grid-col-3 center-content">
													<i [ngClass]="permissionIconClass(story.permission)"></i>
												</div>
											</div>
										</div>
									</div>
								</template>
							</p-dataGrid>
							<div class="container warning" *ngIf="!user.stared">
								<div class="background warning-background bc-white o-75"></div>
								<div class="content center-content c-firebrick fs-18">
									There are no stared stories. Consider giving a star to some stories.
								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="ui-grid ui-grid-responsive ui-fluid">
						<div class="ui-grid-col-1 i-category c-firebrick">
							<i class="fa fa-list"></i>
						</div>
						<div class="ui-grid-col-11">
							<p-dataList [value]="stories.get()" *ngIf="user.stories">
								<template let-story pTemplate="item">
									<div class="ui-grid ui-grid-responsive ui-fluid ">					
										<div class="ui-grid-col-1 star center-content c-darkorange fs-30">
											<i class="fa fa-star" *ngIf="story.stared" (click)=unstar(story.id)></i>
											<i class="fa fa-star-o" *ngIf="!story.stared" (click)=star(story.id)></i>
										</div>
										<div class="ui-grid-col-11 container story">
											<div class="background story-background"></div>
											<div class="ui-grid-row content story-content center-content bc-white o-75" [ngClass]="isPublic(story.public)">
												<div class="ui-grid-col-1">
													<i [ngClass]="typeIconClass(story.type)"></i>
												</div>
												<div class="ui-grid-col-7" (click)=goToStory(story.id)>
													{{story.name}}
												</div>
												<div class="ui-grid-col-2">
													<i class="fa fa-user"></i>
													{{story.usersCount}}
													<i class="fa fa-comment"></i>
													{{story.messagesCount}}
												</div>
												<div class="ui-grid-col-1 right-content">
													<i class="fa fa-ellipsis-v"></i>
												</div>
											</div>
										</div>	
									</div>
								</template>
							</p-dataList>
							<div class="container warning" *ngIf="!user.stories">
								<div class="background warning-background bc-white o-75"></div>
								<div class="content center-content c-firebrick fs-18">
									There are no stories. Consider creating or joining some.
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="floating bottom-right-15 center-content bc-seagreen c-white" (click)="showDialog()">
					<i class="fa fa-plus"></i>
				</div>

			</div>
		</div>
	</div>
</div>

<p-dialog header="Create New Story" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="300" height="550">
	<div class="container dialog">
		<div class="background bc-primary o-75"></div>
		<div class="content">
			<form #createStoryForm="ngForm" novalidate>
				<div class="input-row">
					<input type="text" name="name" ngModel reqired pInputText/>
					<label>Storyname</label>
				</div>
				<div class="input-row">
					<textarea name="desc" pInputTextarea ngModel></textarea>
					<label>Description</label>
				</div>
				<div class="input-row">
					<p-dropdown name="type" ngModel [options]="storyTypes" [style]="{'width':'100%'}"></p-dropdown>
					<label>Story Type</label>
				</div>

				<div class="input-row">
					<div class="ui-grid-col-6">
						<p-spinner name="messagesDisplayed" ngModel [min]="0" [max]="100" size="10"></p-spinner>
					</div>
					<div class="ui-grid-col-6">
						<p-dropdown name="messageVisibility" ngModel [options]="visibilityTypes" [style]="{'width':'100%'}"></p-dropdown>
					</div>
					<label>Messages Visibility</label>
				</div>
				
				<div class="input-row">
					<div class="ui-grid-col-6">
						<p-spinner name="maskLength" ngModel [min]="0" [max]="100" [disabled]="maskType == 'none'" size="10"></p-spinner>
					</div>
					<div class="ui-grid-col-6">
						<p-dropdown name="maskType" ngModel [options]="maskTypes" [style]="{'width':'100%'}"></p-dropdown>
					</div>
					<label>Mask Type</label>
				</div>

				<div class="input-row">
					<div class="ui-grid-col-9 text">
						Make public
					</div>
					<div class="ui-grid-col-3 toggle right-content">
						<p-inputSwitch name="public" onLabel="Yes" offLabel="No" ngModel></p-inputSwitch>
					</div>
				</div>

				<div class="input-row">
					<div class="ui-grid-col-9 text">
						Enable ticket system
					</div>
					<div class="ui-grid-col-3 toggle right-content">
						<p-inputSwitch name="ticketable" onLabel="Yes" offLabel="No" ngModel></p-inputSwitch>
					</div>
				</div>

				<div class="floating bottom-left-15 center-content bc-seagreen c-white" (click)="saveStory(createStoryForm)">
					<i class="fa fa-check"></i>
				</div>
				<div class="floating bottom-right-15 center-content bc-firebrick c-white" (click)="closeDialog()">
					<i class="fa fa-times"></i>
				</div>
			</form>
		</div>
	</div>
</p-dialog>