.add-button
{
	position: absolute;
	top: 90%;
	width: 300px;
	margin-left: 37%;
	background-color: dimgrey;
}

.banner
{
	width: 100%;
	height: 15vh;
	opacity: 0.3;
	background-color: #fae5d3;
	background-size: 100% 100%; 
	overflow: auto; 
}

.button-container
{
	display: flex;
	align-items: center;
}

.button-container .story-button
{
	margin: 5px;
	background-color: dimgrey;
	width: 35px;
}

input
{
	margin-bottom: 5px;
	width: 270px;
}

.main
{
	height: 78vh;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.main-background
{
	background-color: #fae5d3;
	opacity: 0.3; 
}

.menu
{
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.menu .menu-item
{
	height: 25px;
	margin-bottom: 5px;
	cursor: pointer;
	color: maroon;
}

.menu-item .menu-item-background
{
	background-color: #fdebd0;
	opacity: 0.75;
}

.menu-item .icon
{
	padding-top: 3px;
	padding-left: 10px
}

.menu-item .text
{
	padding-top: 3px;
	padding-left: 10px
}

.story{
	font-size:16px;
	padding: 10px;
	border-bottom: 1px solid #D5D5D5;
	cursor: pointer;
	height: 55px;
	margin: 10px;
}

.story .content
{
	margin-right: 5px;
}

.story .story-background
{
	background-color: #fdebd0;
	opacity: 0.4;
}

.story .story-desc
{
	font-size: 14px;
	margin-left: 10px;
	color: indianred;
}

.story .story-name
{
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	margin-left: 10px;
	color: grey;
}

.story .story-other
{
	font-size: 10px;
	font-style: italic;
	margin: 5px;
	color: sienna;
}

.wallpaper
{
	width: 100%;
	height: 100%;
	background: url('../../assets/banner.jpg');
	background-size: 100% 100%; 
	overflow: auto; 
}