<div class="wallpaper">
	<div class="banner"></div>
	<div class="ui-grid ui-grid-responsive ui-fluid ">
		<div class="ui-grid-row">
			<div class="ui-grid-col-2 menu">
				<p-dataList [value]="options">
					<template let-option pTemplate="item">
						<div class="container menu-item">
							<div class="background menu-item-background"></div>
							<div class="ui-grid-row content" (click)="goTo(option.state)">
								<div class="ui-grid-col-2 icon">
									<i [className]="option.class"></i>
								</div>
								<div class="ui-grid-col-10 text">{{option.name}}</div>
							</div>
						</div>
					</template>
				</p-dataList>
			</div>
			<div class="ui-grid-col-10 container main" >
				<div class="background main-background"></div>
				<div class="content">
					<p-dataList [value]="stories.get()">
						<template let-story pTemplate="item">
							<div class="ui-grid ui-grid-responsive ui-fluid container story" (click)=goToStory(story.id)>
								<div class="background story-background"></div>
								<div class="ui-grid-row content">				
									<div class="ui-grid-col-8">
										<div class="ui-grid ui-grid-responsive ui-fluid">
											<div class="ui-grid-row story-name">
												{{story.name}}
											</div>
											<div class="ui-grid-row story-desc">
												{{story.desc}}
											</div>
										</div>
									</div>
									<div class="ui-grid-col-2">
										<div class="ui-grid ui-grid-responsive ui-fluid">
											<div class="ui-grid-row story-other">
												{{story.type}}
											</div>
											<div class="ui-grid-row story-other">
												{{story.messageCount}} messages
											</div>
										</div>
									</div>
									<div class="ui-grid-col-2 button-container">
										<button pButton icon="fa-eye" class="story-button" type="button"></button>
										<button pButton icon="fa fa-pencil" class="story-button" type="button"></button>
										<button pButton icon="fa-trash" class="story-button" type="button" (click)="delete(story.id)"></button>
									</div>
								</div>
							</div>
						</template>
					</p-dataList>
				</div>
			</div>
		</div>
	</div>
</div>

<p-dialog header="New Story" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="300" height="500">
	<form #createStoryForm="ngForm" (ngSubmit)="saveStory(createStoryForm)" novalidate>
		<input type="text" name="name" ngModel reqired pInputText/>
		<input type="text" name="desc" ngModel required pPassword/>
		<p-dropdown name="type" ngModel [options]="storyTypes"></p-dropdown>

		<p-spinner name="messageDisplayed" ngModel [min]="0" [max]="100" size="10"></p-spinner>
		<div>
			<div class="ui-grid-col-6">
				<p-spinner name="maskLength" ngModel [min]="0" [max]="100" [disabled]="maskType == 'none'" size="10"></p-spinner>
			</div>
			<div class="ui-grid-col-6">
				<p-dropdown name="maskType" ngModel [options]="maskTypes"></p-dropdown>
			</div>
		</div>
		<button pButton label="Save"></button>
	</form>
</p-dialog>