.add-button
{
	position: absolute;
	top: 90%;
	width: 300px;
	margin-left: 37%;
	background-color: dimgrey;
}

.banner
{
	width: 100%;
	height: 15vh;
	opacity: 0.3;
	background-color: #fae5d3;
	background-size: 100% 100%; 
	overflow: auto; 
}

.button-container
{
	display: flex;
	align-items: center;
}

.button-container .story-button
{
	margin: 5px;
	background-color: dimgrey;
	width: 35px;
}

input
{
	margin-bottom: 5px;
	width: 270px;
}

.icon-container
{
	margin-left: 10px;
}

.icon-container .fa
{
	position: absolute;
	top: 10px;
	font-size: 36px;
	left: 10px;
	color: coral;
	width: 40px;
	text-align: end;
}

.icon-container	.circle
{
	min-width: 20px;
	height: 20px;
	background: firebrick;
	border-radius: 10px;
	text-align: center;
	position: absolute;
	border: 1px solid red;
	color: white;
	bottom: 4px;
	left: 40px;
	line-height: 20px;
}

.main
{
	height: 78vh;
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.main .main-background
{
	background-color: #fae5d3;
	opacity: 0.3; 
}

.main .main-content
{
	overflow: auto;
}

.menu
{
	border-radius: 4px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.menu .menu-item
{
	height: 25px;
	margin-bottom: 5px;
	cursor: pointer;
	color: maroon;
}

.menu-item .menu-item-background
{
	background-color: #fdebd0;
	opacity: 0.75;
}

.menu-item .icon
{
	padding-top: 3px;
	padding-left: 10px
}

.menu-item .text
{
	padding-top: 3px;
	padding-left: 10px
}

p
{
	margin-left: 10px;
	color: brown;
	font-size: 18px;
	font-weight: bold;
}

.story{
	font-size:16px;
	cursor: pointer;
	height: 50px;
	margin-bottom: 10px;
}

.story .content
{
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 97%;
}

.story .story-background
{
	background-color: white;
	opacity: 0.8;
	border-radius: 30px;
	width: 97%;
}

.story .story-desc
{
	font-size: 14px;
	margin-left: 10px;
	color: indianred;
}

.story .story-name
{
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
	margin-left: 10px;
	color: grey;
}

.story .story-other
{
	font-size: 10px;
	font-style: italic;
	margin: 5px;
	color: sienna;
}

.wallpaper
{
	width: 100%;
	height: 100%;
	background: url('../../assets/banner.jpg');
	background-size: 100% 100%; 
	overflow: auto; 
}

.green
{
	color: darkseagreen;
}

.red
{
	color: crimson;
}

.star
{
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: firebrick;
}

.star-list
{
	height: 50px;
}

.category-icon
{
	font-size: 30px;
	display: flex;
	justify-content: center;
	color: firebrick;
	margin-top: 20px;
}

.stared
{
	height: 100px;
	margin-top: 5px;
}

.stared .stared-background
{
	background-color: white;
	opacity: 0.75;
	border-radius: 30px;
	width: 97%;
}

.stared .stared-content
{
	width: 97%;
}

.stared-content .name
{
	font-size: 28px;
	font-weight: bold;
	display: flex;
	align-items: center;
	color: dimgrey;
}

.stared-content .down
{
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.row-down{
	height: 40%;
}

.row-up{
	height: 60%;
}